{{- $email := promptStringOnce . "email" "Email address" -}}

sourceDir = "~/dev/dotfiles"

[data]
  email = {{ $email | quote }}

[merge]
  command = "nvim"
  args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

# vim: ft=toml
